
/*
  GENERAL
*/

:root {
  --primaryColor: #022e0c; 
}

body {
  display: flex;
  background-color: var(--primaryColor);
  flex-direction: column;
  font-family: 'Montserrat','Liberation Sans';
  width: auto;
  text-align: center;

}

.title{
  margin-left: 40px;
  color: white;
  margin-right: 40px;
}

.buttons-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons-holder img {

  max-width:300px;
  max-height:200px;
  margin-left: 4px;
  margin-right: 4px;
}

.phone img {
  width: 80%
}


a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

@media all and (min-width : 1224px){
  /* Styles pour cette Media Queries */
  */

  .buttons-holder {
    display: flex;
    flex-direction: column;
  
  }
}

