/*
  SMALL SCREEN
*/

@media all and (max-width: 950px){

  #portrait {
    display: none;
  }

  .boxLeftCorps{
    display: none;
  }


}

/*
  GENERAL
*/

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat','Liberation Sans';
  width: auto;
  text-align: center;
}


.buttons-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-holder img {
  height: 100px;
  width: 200px;
  margin: 10px;
}

.phone img {
  width: 40%;
  height: 60%;
}


/*
  CORPS
*/

.corps {
  display: flex;
  color: #003668;
  padding: 0 10% 0 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.boxLeftCorps {
  margin: auto 15% auto 0;
}

.sigle {
  font-weight: 500;
  font-size: 900%;
  margin: auto;
}

.bg_vert_2 {
  background-color: #0ceda3;
  color: #003668;
  padding-right: 8px;
  
}
